@model LloydStephanieRealty.Models.Testimony
@{
    Layout = "_AdminLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/AdminTestimony.css" />
</head>
<body>
    <h2>Create new Testimony post</h2>

    <form asp-action="AddTestimony" method="post" enctype="multipart/form-data">
        <label>Image</label>
        <label for="bTitle" asp-for="Title"></label>
        <input asp-for="Title" type="text" id="bTitle" required placeholder="The Title goes here..." />
        <br />

        <label id="bDesc" asp-for="Description"></label>
        <textarea asp-for="Description" id="bDesc" required placeholder="What would you like to write?"></textarea><br />
        <input type="submit" value="Post" /><br />
    </form>

</body>

</html>