@model IQueryable<LloydStephanieRealty.Models.Blog>
@{
    Layout = "_AdminLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/AdminBlog.css" />
</head>
<body>
    <h2>Manage Blogs</h2>
    <table>
        <thead>
            <tr>
                <th>Blog Title</th>
                <th>Time Created</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blog in Model)
            {
                <tr>
                    <td>@blog.Title</td>
                    <td>@blog.DateOfPost</td>
                    <td>
                        <a asp-action="EditBlog" asp-route-id="@blog.ID">Edit</a>
                    </td>
                    <td>
                        <form asp-action="DeleteBlog" method="post">
                            <input type="hidden" value="@blog.ID" name="BlogID" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="text-center">
        <a id="addBlog" asp-controller="Admin" asp-action="AddBlog">Add a Blog</a>
    </div>
</body>

</html>
