@model LloydStephanieRealty.Models.Blog
@{
    Layout = "_AdminLayout";
    List<LloydStephanieRealty.Models.Comment> comments = ViewData["Comments"] as List<LloydStephanieRealty.Models.Comment>;
}

<h2>Edit Blog</h2>

<form asp-action="EditBlog" method="post" style="width:75%;" class="m-2">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Title">
            Title
            <input asp-for="Title" type="text" style="" class="form-control"/>
        </label>
    </div>
    <div class="form-group">
        <label asp-for="Description">
            Content
            <textarea asp-for="Description" class="form-control" style="height: 300px;"></textarea>
        </label>
    </div>
    <input type="submit" style="width: auto; font-weight: 600;" value="Post" /><br />
</form>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Comment</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in comments)
        {
            <tr>
                <td>@comment.Name</td>
                <td>@comment.Description</td>
                <td>
                    <form asp-action="DeleteComment" method="post">
                        <input type="hidden" value="@comment.ID" name="CommentID" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>