@model LloydStephanieRealty.Models.Blog
@{
    Layout = "_AdminLayout";
    List<LloydStephanieRealty.Models.Comment> comments = ViewData["Comments"] as List<LloydStephanieRealty.Models.Comment>;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/AdminBlog.css" />
</head>
<body>
    <h2>Edit Blog</h2>

    <form asp-action="EditBlog" method="post">
        <input type="hidden" value="@Model.ImageID" asp-for="ImageID" />
        <br />
        <label for="bTitle" asp-for="Title"></label>
        <input asp-for="Title" type="text" id="bTitle" required />
        <br />

        <label id="bDesc" asp-for="Description"></label>
        <textarea asp-for="Description" id="bDesc" required></textarea><br />
        <input type="submit" value="Post" /><br />
    </form>
    <br />

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in comments)
            {
                <tr>
                    <td>@comment.Name</td>
                    <td>@comment.Description</td>
                    <td>
                        <form asp-action="DeleteComment" method="post">
                            <input type="hidden" value="@comment.ID" name="CommentID" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</body>

</html>