@model IQueryable<LloydStephanieRealty.Models.Testimony>
@{
    Layout = "_AdminLayout";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/AdminBlog.css" />
</head>
<body>
    <h2>Manage Testimonies</h2>
    <table>
        <thead>
            <tr>
                <th>Testimony Title</th>
                <th>Time Created</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var testimony in Model)
            {
                <tr>
                    <td>@testimony.Title</td>
                    <td>@testimony.DateOfPost</td>
                    <td>
                        <a asp-action="EditTestimony" asp-route-id="@testimony.ID">Edit</a>
                    </td>
                    <td>
                        <form asp-action="DeleteTestimony" method="post">
                            <input type="hidden" value="@testimony.ID" name="TestimonyID" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="text-center">
        <a id="addTestimony" asp-controller="Admin" asp-action="AddTestimony">Add a Testimony</a>
    </div>
</body>

</html>
