@{
    Layout = "_AdminLayout";
}
<html>
<head>
    
</head>
<body>
    <h2>Manage Website Contents</h2>
    <div class="text-center">
        <a asp-controller="Admin" asp-action="AboutUsAdmin">Edit About Us Page Contents</a>
    </div>
    <div class="text-center">
        <a asp-controller="Admin" asp-action="CompanyDetailsAdmin">Edit Company Details</a>
    </div>
    <div class="text-center">
        <a asp-controller="Admin" asp-action="HomePageAdmin">Edit Home Page Contents</a>
    </div>
</body>

</html>
