@model LloydStephanieRealty.Models.WebsiteContents
@{
    string AboutUsHeader = ViewData["AboutUsHeader"] as string;
    string AboutUsPara = ViewData["AboutUsPara"] as string;
    Layout = "_Layout";
}
<html>
<head>
    
</head>
<body>

    <h2>@AboutUsHeader</h2>

    <p>@AboutUsPara</p>

</body>

</html>
