@model List<LloydStephanieRealty.Models.Blog>
@{
    Layout = "_Layout";
    int wordCount = 0;
    int index = 0;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/ClientBlog.css" />
</head>
<body>
    <h2>Blogs</h2>
    <div id="allBlogs">
        @foreach (var blog in Model)
        {
            <a id="postLink" asp-controller="Home" asp-action="Blog" asp-route-id="@blog.ID">
                <div id="displayBlog">
                    <img src="@("~/image/"+blog.Image.ImageName)" asp-append-version="true" width="200px" height="200px"  />
                    <h5>@blog.Title</h5>
                    @{ 
                        index = 0;
                        wordCount = 0;
                        while (index < blog.Description.Length)
                        {
                            while (index < blog.Description.Length && !char.IsWhiteSpace(blog.Description[index]))
                                index++;

                            wordCount++;

                            while (index < blog.Description.Length && char.IsWhiteSpace(blog.Description[index]))
                                index++;

                            if (wordCount == 25)
                            {
                                break;
                            }
                        }
                    }
                    <p>@blog.Description.Substring(0, index) ...</p>
                </div>
            </a>
        }
    </div>
</body>

</html>
