@page
@model LloydStephanieRealty.Models.MailingListUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
</head>
<body>

    <div>
        Login
    </div>
    <form asp-action="LoginPage" method="post">
        S
        <button type="submit">Log In</button>

    </form>
    <a asp-page="./Create">Register</a>
    <a asp-controller="Admin" asp-action="AdminIndex">Go To Admin</a>
</body>
</html>